body {
  background-color: orangered;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  font-style: italic;
  color: aliceblue;
  text-align: center;
}

.cover {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  text-align: center;
  
}

.brand {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.contact {
  background-color: aliceblue;
}

.bio {
  min-height: 100vh;
  background-color: rgb(34, 6, 34);
  color: aliceblue;
  font-size: 8em;
}

#press {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 6em;

}



.logo > img {
  width: 120px;
  height: auto;
}

a {
  color: aliceblue;
}

.list  a {
  color: blue;
}

nav {
  display: flex;
  justify-content: space-between;
}