html { 
  font-size: calc(1em + 1vmax);
}

body {
  background-color: #f7f7f7;
  font-family: system-ui, sans-serif;
  



}


.logo {
  text-transform: uppercase;
  font-size: small;
  
}

.blurb { 
  font-size: 4em;
}

.profile > img {
  width: 120px;
  height: auto;
  border-radius: 12%;
}

footer {
  font-size: .5125rem;
}


@media (prefers-color-scheme: dark) {
  body {
      background-color: #0E0C01;
      color: whitesmoke;
  }

  a {
      color: #c3d1dada;
  }

  a.list:visited {
      color: rgb(213, 209, 209);
  }

  img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
  }

  img:hover {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .bio {
    display: grid;
    grid-template-columns: 1fr;
  }
}