body {

}

header {

}

.logo {
  text-transform: capitalize;
  color: ;
}

.profile > img {
  width: 120px;
  height: auto;
}

ul li {
  list-style: none;
}


a {
  color: orangered;
}


@media (prefers-color-scheme: dark) {
  body {
      background-color: #0E0C01;
      color: whitesmoke;
  }

  a {
      color: #c3d1dada;
  }

  a.list:visited {
      color: rgb(213, 209, 209);
  }

  img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
  }

  img:hover {
      opacity: 1;
  }
}