body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    background-color:#f9f7f2;
}

#site-title {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}

h2 {
    font-size: small;
}

.simple-list > li {
    list-style-type: none;
}





@media (prefers-color-scheme: dark) {
  body {
      background-color: #0E0C01;
      color: whitesmoke;
  }

  a {
      color: #c3d1dada;
  }

  a.list:visited {
      color: rgb(213, 209, 209);
  }

  section a:visited {
    color: rgb(112, 191, 255);
  }

  img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
  }

  img:hover {
      opacity: 1;
  }
}

