body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    background-color: #FFE2C7;
    padding: 20px;
    margin: 0;
}

#site-title {
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
}

h2 {
    font-size: small;
}

.simple-list {
    padding: 0;
    margin: 0;
}

.simple-list > li {
    list-style-type: none;
}

li {
    padding: 12px;
    margin-bottom: 8px;
  }

  a {
    color: blue;
  }




@media (prefers-color-scheme: dark) {
  body {
      background-color: #0E0C01;
      color: whitesmoke;
  }

  a {
      color: #c3d1dada;
  }

  a.list:visited {
      color: rgb(213, 209, 209);
  }

  section a:visited {
    color: rgb(112, 191, 255);
  }

  img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
  }

  img:hover {
      opacity: 1;
  }
}

